.container {
  min-height: 100%;
  background: #92e28b;
  padding: 30px;

  h2 {
    font-weight: 800;
    font-size: 24px;
    color: #181d20;
  }

  p {
    font-size: 14px;
    font-weight: 500;
  }

  ion-list {
    background: #92e28b;

    ion-item {
      --background:#92e28b;
      --padding-start: 0px;
      --inner-padding-end: 0px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.11);
      box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.11);

      ion-icon {
        font-size: 14px;
      }

      ion-label {
        padding-left: 15px;
        font-weight: 500;
        font-size: 14px;
        white-space: pre-wrap !important;
        color: #181d20;
      }
    }
  }
}
