<ion-content>
  <!-- Not Signed -->
  <div class="container" *ngIf="!signedIn">
    <h2 no-margin text-center>Features Demonstrated</h2>
    <ion-list>
      <ion-item>
        <ion-icon name="play" mode="ios"></ion-icon>
        <ion-label>Sign in with a DID and retrieve DID's information.</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="play" mode="ios"></ion-icon>
        <ion-label>Register this app to a signed-in DID.</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="play" mode="ios"></ion-icon>
        <ion-label>Receive connection from a contact's application profile.</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="play" mode="ios"></ion-icon>
        <ion-label>Sign data using a DID.</ion-label>
      </ion-item>
    </ion-list>
    <div>
      <div padding-vertical>
        <did-button
          title="Sign In"
          textcolor="#181d20"
          textsize="16px"
          [bgcolor]="'#fffff'"
          [bordercolor]="'#181d20'"
          [shadow]="false"
          (click)="signIn()"
        >
        </did-button>
      </div>
      <div>
        <did-button
          title="Sign Data"
          textcolor="#181d20"
          textsize="16px"
          [bgcolor]="'#fffff'"
          [bordercolor]="'#181d20'"
          [shadow]="false"
          (click)="signData()"
        >
        </did-button>
      </div>
    </div>
  </div>

  <!-- Signed In with App Not Registered -->
  <div class="container" *ngIf="signedIn && !applicationProfileRegistered">
    <h2 no-margin text-center>You Are Signed In</h2>
    <ion-list>
      <ion-item>
        <ion-icon name="play" mode="ios"></ion-icon>
        <ion-label> <b>DID:</b> {{ did.slice(0,24) }} <br> {{ did.slice(24,46) }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="play" mode="ios"></ion-icon>
        <ion-label><b>Name:</b> {{ userName }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="play" mode="ios"></ion-icon>
        <ion-label><b>Email:</b> {{ emailAddress }}</ion-label>
      </ion-item>
    </ion-list>
    <div>
      <div padding-vertical>
        <did-button
          title="Register App Profile"
          textcolor="#000000"
          textsize="16px"
          [bgcolor]="'#fffff'"
          [bordercolor]="'#000000'"
          [shadow]="false"
          (click)="generateApplicationProfile()"
        ></did-button>
      </div>
      <div>
        <did-button
          title="Sign Data"
          textcolor="#181d20"
          textsize="16px"
          [bgcolor]="'#fffff'"
          [bordercolor]="'#181d20'"
          [shadow]="false"
          (click)="signData()"
        >
        </did-button>
      </div>
    </div>
  </div>

  <!-- Signed In with App Registered -->
  <div class="container" *ngIf="signedIn && applicationProfileRegistered">
    <h2 no-margin text-center>This app is now registered in your DID profile</h2>
    <ion-list>
      <ion-item>
        <ion-icon name="play" mode="ios"></ion-icon>
        <ion-label>You can now see the related credential in your Identity Profile.</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="play" mode="ios"></ion-icon>
        <ion-label>If you choose to make this change public, others who follow your contact will able to view this app and open it</ion-label>
      </ion-item>
    </ion-list>
    <div padding-vertical>
      <did-button
        title="Sign Data"
        textcolor="#181d20"
        textsize="16px"
        [bgcolor]="'#fffff'"
        [bordercolor]="'#181d20'"
        [shadow]="false"
        (click)="signData()"
      >
      </did-button>
    </div>
  </div>

</ion-content>
