.container {
  min-height: 100%;
  //background-image: linear-gradient(-225deg, rgb(181, 247, 218) 0%, rgb(148, 225, 230) 48%, rgb(144, 227, 250) 100%);
 // background: #FAFAFA;
 background-image: linear-gradient(to right, #c0f7c5 0%, #8ce1f8 100%);

  h2 {
    font-weight: 600;
  }

  h3 {
    font-weight: 600;
  }

  li {
    font-weight: 500;
  }
}
